:root {
  --main-blue: #2196F3;
  --text-grey: #757575;
  --title-grey: #212121;
  --dark-back: #2F303A;
  --light-back: #F5F4FA;
  --white: #ffffff;
  --text-white6: rgba(255, 255, 255, 0.6);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  color: var(--text-grey);
}

/* ???? */
.title {
  color: var(--title-grey);
}

/* Шапка */
.header {
  background-color: var(--white);}

.header-nav a {
  color: var(--title-grey);
}

.header-nav a:hover,
.header-nav a:focus {
  color: var(--main-blue);
}

.header-nav .current {
  color: var(--main-blue);
}

.header-contacts a {
  color: var(--text-grey);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--main-blue);
}

/* Лого */
.header-logo, 
.footer-logo{color: var(--main-blue);}

.header-logo span {
  color: #000000;
}

.footer-logo span {
  color: var(--white);
}

/* Герой */
.hero {
  background-color: var(--dark-back);
}

.hero .title {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.hero-btn {
  background-color: var(--main-blue);
  color: var(--white);
}

/* Наши особенности */


/* Наша команда */
.team {
  background-color: var(--light-back);
}

.team-list li{
  background-color: var(--white);
}

/* Подвал */
.footer {
  background-color: var(--dark-back);
}

.footer-address {
  color: var(--white);
}

.footer-contacts a {
  color: var(--text-white6);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--main-blue);
}

/* Портфолио */

.filter button {
  color: var(--title-grey);
  background-color: var(--light-back);
  border: none;
}

.filter button:hover,
.filter button:focus {
  background-color: var(--main-blue);
  color: var(--white);
}

.portfolio li{ background-color: var(--white);
}
